#title{
    background-color: blue;
    color: black;
    font-family: 'Roboto', sans-serif;

}
.title-header{
    color: white;


}


.navbar{
    padding-bottom: 0rem;
}

.container-fluid{

    padding: 3% 15% 7%;

}

.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Lobster', cursive;



}
.morty{
    width: 100px;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{

    font-size: 1.2rem;
}

.test{
    padding: 5%;
    line-height: 5;
    text-align: center;
}

.carousel-item{
    padding:7% 15%;


}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  border: 5px solid black;
}


.card{
    text-align: center;

}



#inventory-title{
    background-color: blue;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;


}

#card-cards{
    background-color: blue;
}

/*contact page*/
#contact-title{

    background-color: blue;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

.morty-portrait{
    background-color: white;
    border-radius: 100%;
}

.contact-t{

    margin: 5px;

    padding-right: 6000px;
}
